header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-link {
        display: flex;
        align-items: center;

        a {
            margin-left: 0.5rem;
            color: #281E59;
            text-decoration: none;
            font-weight: 800;
        }
    }

    .header-profile {
        // width: 64px;
        // height: 64px;
        border-radius: 50%;
        border: 1px solid #FDFCFC;
    }

    .nav-link {
        // display: flex;
        // align-items: center;
        color: #281E59;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 500;
        border-radius: 2rem;
        padding: 0.25rem 1rem;
        transition: all 0.2s ease-in-out;
        border: 1px solid transparent;

        svg {
            display: inline-block;
        }

        &:hover {
            border-color: rgba(245, 227, 219, 1);
            background-color: rgba(245, 227, 219, 1);
        }
    }
}