// * {
//     background: pink;
//     color: yellow;
// }

@use '_reset';
@use '_header';
@use '_footer';
@use '_card';

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FEFCFB;
    color: #281E59;
    // font-family: 'PP Neue Montreal', sans-serif;
    font-family: 'Barlow', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-size: clamp(1rem, 0.34vi + 0.91rem, 1.1rem);
    font-optical-sizing: auto;

    &::before {
        content: '';
        // background: rgb(14, 164, 37);
        // background: radial-gradient(circle, #f35b0f 0%, rgb(6, 55, 205) 100%);
        background: rgb(253, 247, 244);
        background: radial-gradient(circle, rgba(245, 227, 219, 1) 0%, rgba(254, 252, 251, 1) 55%);
        width: 100%;
        max-width: 1200px;
        left: calc(50% - 600px);
        top: -600px;
        height: 1200px;
        position: absolute;
        z-index: -100;

        @media only screen and (max-width: 1200px) {
            left: auto;
        }
    }

    // &::after {
    //     content: '';
    //     background: rgb(14, 164, 37);
    //     background: radial-gradient(circle, #f35b0f 0%, rgb(6, 55, 205) 100%);
    //     width: 100%;
    //     max-width: 1200px;
    //     left: calc(50% - 600px);
    //     right: 0;
    //     bottom: 0 - 600px;
    //     height: 1200px;
    //     position: absolute;
    //     z-index: -100;
    // }
}

main {
    max-width: 880px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    text-wrap: pretty;

    @media only screen and (max-width: 800px) {
        text-wrap: balance;
    }
}

// --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
// --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
// --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
// --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
// --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
// --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
// --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

h1 {
    // font-size: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    font-size: clamp(1.25rem, 0.61vi + 1.1rem, 1.45rem);
}

h2 {
    font-size: clamp(1.25rem, 0.61vi + 1.1rem, 1.45rem);
}

h5 {
    font-size: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
}

strong {
    font-weight: 600;
}

p {
    text-wrap: pretty;
    font-weight: 500;
    margin-bottom: 1rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

p.small {
    font-size: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
}

::selection {
    background: rgb(245, 227, 219)
}

.shimmer {
    position: relative;
    overflow: hidden;

    &:hover::after {
        opacity: 0.4;
    }

    &::after {
        content: "";
        position: absolute;
        top: calc(var(--y, 0) * 1px - 50px);
        left: calc(var(--x, 0) * 1px - 50px);
        width: 100px;
        height: 100px;
        background: radial-gradient(white, #ffffff00 80%);
        opacity: 0;
        transition: opacity 0.2s;
    }

    &.heavier:hover::after {
        opacity: 0.6;
    }

    &.onwhite::after {
        background: radial-gradient(rgb(253, 247, 244), #ffffff00 80%);
    }
}

section.work,
section.skills,
section.about-me {
    h5:first-of-type {
        margin-bottom: 0.5rem;
    }
}

section.work {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
        margin-bottom: 0;
    }
}

section.skills {

    .skills-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        .card {
            flex: calc(50% - 1rem);
            background-color: rgb(253, 247, 244);
            border: none;
            position: relative;

            h5,
            p {
                z-index: 10;
            }

            @media only screen and (max-width: 800px) {
                flex: 100%;
            }
        }
    }

}

section.about-me {
    .signature {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;

        .signature-image {
            border-radius: 50%;
            border: 1px solid #FDFCFC;
        }

        svg {
            opacity: 0.9;
        }
    }
}