// * {
//     background: pink;
//     color: yellow;
// }
@use '_reset';
@use '_header';
@use '_footer';

body {
    background-color: #FEFCFB;
    color: #281E59;
    font-family: 'PP Neue Montreal', sans-serif;

    &::before {
        content: '';
        // background: rgb(14, 164, 37);
        // background: radial-gradient(circle, #f35b0f 0%, rgb(6, 55, 205) 100%);
        background: rgb(253, 247, 244);
        background: radial-gradient(circle, rgba(245, 227, 219, 1) 0%, rgba(254, 252, 251, 1) 55%);
        width: 100%;
        max-width: 1200px;
        left: calc(50% - 600px);
        top: -600px;
        height: 1200px;
        position: absolute;
        z-index: -100;

        @media only screen and (max-width: 1200px) {
            left: auto;
        }
    }

    // &::after {
    //     content: '';
    //     background: rgb(14, 164, 37);
    //     background: radial-gradient(circle, #f35b0f 0%, rgb(6, 55, 205) 100%);
    //     width: 100%;
    //     max-width: 1200px;
    //     left: calc(50% - 600px);
    //     right: 0;
    //     bottom: 0 - 600px;
    //     height: 1200px;
    //     position: absolute;
    //     z-index: -100;
    // }
}

main {
    max-width: 880px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1rem;
}

strong {
    font-weight: 600;
}